<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @Html.Partial("_LogoPartial")
        <div class="navbar-collapse collapse">
            @Html.Partial("_NavbarPartial")
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
