really nice examples here.

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>404 Page Not Found</title>
</head>
<body>
    <h1>The page that you are looking for is not found...</h1>
</body>
</html>
