<div class="jumbotron">
    <h1>Orders Tracker</h1>
    <p class="lead">Приложение за следене и управление на поръчки </p>
    <br />
    <div class="row">
        <div class="col-md-4 panel panel-success">
            <h3 class="km-bold-font">
                Брой потребители: @Model.UsersCount
            </h3>
        </div>
        <div class="col-md-4 panel panel-success">
            <h3>
                 Брой клиенти: @Model.ClientsCount
            </h3>
        </div>
        <div class="col-md-4 panel panel-success">
            <h3>
                Брой поръчки: @Model.OrdersCount
            </h3>
        </div>
    </div>
</div>
