@model MvcTemplate.Web.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Orders Tracker</h1>
    <p class="lead">Orders Tracker is application for tracking and managing orders</p>
    <br/>
    <div class="row">
        <div class="col-md-4 panel panel-success">
            <h3 class="km-bold-font">
                Regirstred users count: @Model.UsersCount
            </h3>
        </div>
        <div class="col-md-4 panel panel-success">
            <h3>
                Total Clients count: @Model.ClientsCount
            </h3>
        </div>
        <div class="col-md-4 panel panel-success">
            <h3>
                Total Orders count: @Model.OrdersCount
            </h3>
        </div>
    </div>
</div>